---
layout: sub-page
title: CSS
discribtion: CSS是网页制作核心内容之一,这里提供相关的基础CSS知识和一些另类的CSS技术,包括CSS2甚至是CSS3的用法。
permalink: /css/
whichPage: css
bannerImg: /assets/image/2016.jpg
---
<ul class="css-content-list">
    {% for category in site.categories.[page.whichPage] %}
    <li  >
        <a class="row list-link" href="{{category.url | prepend: site.baseurl }}" target="_blank">
            <h1>{{category.title }}</h1>
        </a>
        <div class="date-and-tags">
            <span class="list-date">{{ category.date | date: "%Y年%-m月%-d日" }}</span>
            <span class="list-tags">
                <i class="icon iconfont icon-tag"></i>
                {% for tag in category.tags%}

                <a href="javascript:;">{{tag}}</a>
                {% endfor %}
            </span>
        </div>

        <div class="excerpt clearfix">
            {{ category.excerpt }}
        </div>
    </li>
    {% endfor %}
</ul>



