---
layout: page
title: HTML
permalink: /html/
whichPage: html
---
<ul>
    {% for category in site.categories.html %}
    <li>
       <a href="{{category.url | prepend: site.baseurl }}">{{category.title }} {{ category.date | date: "%b %-d, %Y" }}</a>
    </li>
    {% endfor %}
</ul>

<hr/>


<hr>
<div class="section section7">
    <div class="container">
        <img src="{{ site.baseurl}}/assets/image/gulp.png" alt="gulp"/>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }}</a>

                </h2>
            </li>

            {% endfor %}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
</div>

