---
layout: default
whichPage: home
---
<div class="section section1 blue-bg">
    <div id="banner_tabs" class="flexslider">
        <ul class="slides">
            <li>
                <a title="" target="_blank" href="#">
                    <div class="container">
                        d
                    </div>
                </a>
            </li>
            <li>
                <a title="" target="_blank" href="#">
                    <img alt="" style="background: url('{{ site.baseurl}}/assets/image/banner1.jpg') no-repeat center;" src="{{ site.baseurl}}/assets/image/alpha.png">
                </a>
            </li>
            <li>
                <a title="" href="#">
                    <img alt="" style="background: url('{{ site.baseurl}}/assets/image/banner2.jpg') no-repeat center;" src="{{ site.baseurl}}/assets/image/alpha.png">
                </a>
            </li>
            <li>
                <a title="" href="#">
                    <img alt="" style="background: url('{{ site.baseurl}}/assets/image/banner3.jpg') no-repeat center;" src="{{ site.baseurl}}/assets/image/alpha.png">
                </a>
            </li>
        </ul>
        <ul class="flex-direction-nav">
            <li><a style="background: url('{{ site.baseurl}}/assets/image/ad_ctr.png') no-repeat;" class="flex-prev" href="javascript:;">Previous</a></li>
            <li><a style="background-image: url('{{ site.baseurl}}/assets/image/ad_ctr.png');" class="flex-next" href="javascript:;">Next</a></li>
        </ul>
        <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
        </ol>
    </div>
</div>
<div class="section section2 silver-bg">
    <h3><span>&nbsp;</span>我的经历</h3>

    <div class=" experience clearfix">
        <div class="container">
            <div class="line"></div>
            <ul class="text-center clearfix">
                <li>
                    <div class="experience-date">1991-09-29</div>
                    <span class="experience-dotted"></span>

                    <div class="experience-introduce">我出生啦，我的家乡是河南信阳</div>
                </li>
                <li>
                    <div class="experience-introduce">毕业于长沙市雅礼中学</div>
                    <span class="experience-dotted"></span>

                    <div class="experience-date">2001-07-01</div>
                </li>
                <li>
                    <div class="experience-date">2015-06-01</div>
                    <span class="experience-dotted"></span>

                    <div class="experience-introduce">毕业于郑州轻工业学院计通系通信工程</div>
                </li>
                <li>
                    <div class="experience-introduce">在北京葡萄藤培训一个月</div>
                    <span class="experience-dotted"></span>

                    <div class="experience-date">2015-07-10</div>
                </li>
                <li>
                    <div class="experience-date">2015-08-10</div>
                    <span class="experience-dotted"></span>

                    <div class="experience-introduce">找到第一份正式工作，北京易清互动有限公司</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section section3 blue-bg">
    <div class="container">
        <h3><span>&nbsp;</span>我的爱好</h3>

    </div>
</div>
<div class="section section4 silver-bg">
    <div class="container">
        <h3><span>&nbsp;</span>我的技能</h3>
        <ul class=" clearfix">
            <li>
                <div class="skill-card">
                    <div class="circle-wrap">
                        <div class="wrapper left">
                            <div class="half-circle left-circle"></div>
                        </div>
                        <div class="wrapper right">
                            <div class="half-circle right-circle"></div>
                        </div>
                    </div>
                    <span>80%</span>

                    <p class="text-center skill-name">ps</p>
                </div>
            </li>
            <li>
                <div class="skill-card">
                    <div class="circle-wrap">
                        <div class="wrapper left">
                            <div class="half-circle left-circle"></div>
                        </div>
                        <div class="wrapper right">
                            <div class="half-circle right-circle"></div>
                        </div>
                    </div>
                    <span>70%</span>

                    <p class="text-center skill-name">html</p>
                </div>
            </li>
            <li>
                <div class="skill-card">
                    <div class="circle-wrap">
                        <div class="wrapper left">
                            <div class="half-circle left-circle"></div>
                        </div>
                        <div class="wrapper right">
                            <div class="half-circle right-circle"></div>
                        </div>
                    </div>
                    <span>65%</span>

                    <p class="text-center skill-name">css</p>
                </div>
            </li>
            <li>
                <div class="skill-card">
                    <div class="circle-wrap">
                        <div class="wrapper left">
                            <div class="half-circle left-circle"></div>
                        </div>
                        <div class="wrapper right">
                            <div class="half-circle right-circle"></div>
                        </div>
                    </div>
                    <span>45%</span>

                    <p class="text-center skill-name">js</p>
                </div>
            </li>

        </ul>
    </div>
</div>
<div class="section section5 blue-bg">
    <div class="container">
        <h3><span>&nbsp;</span>我的案例</h3>
        <ul class="row my-case clearfix">
            <li>
                <a href="http://www.juluobo.com" target="_blank">
                    <img src="{{ site.baseurl}}/assets/image/index/case-juluobo.png" alt="gulp">
                </a>
            </li>
            <li>
                <a href="http://bingoip.com" target="_blank">
                    <img src="{{ site.baseurl}}/assets/image/index/case-bingo.png" alt="gulp">
                </a>
            </li>
            <li>
                <a href="http://eking99.com" target="_blank">
                    <img src="{{ site.baseurl}}/assets/image/index/case-eking.png" alt="gulp">
                </a>
            </li>
            <li>
                <a href="http://love-peach.github.io/xiaoyage-dishes/" target="_blank">
                    <img src="{{ site.baseurl}}/assets/image/index/case-xiaoyage.png" alt="gulp">
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="section section6 silver-bg">
    <div class="container">
        <h3><span>&nbsp;</span>联系方式</h3>
        <h4>18203610462</h4>

        <div class="contact-way">
            <a href="javascript:;"><i class="icon iconfont icon-github"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-qq"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-weixin"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-xinlang"></i></a>
        </div>
        <p class="my-wishes">愿我成为这样的人：不忘本，不炫耀，不急躁，做一个博学的人；
            <br/>懂点小幽默，至少会哄老婆开心；知道孝敬父母，照顾兄长；
            <br/>闲来无事还能有点小钱陪家人旅旅游。</p>
    </div>
</div>

{% for post in paginator.posts %}
<p>
    <a href="{{site.baseurl}}/{{ post.url }}">{{ post.title }}</a>
</p>

{% endfor %}

<hr/>
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}

<hr/>
{% for page in (1..paginator.total_pages) %}
{% if page == paginator.page %}
<span class="active">{{ page }}</span>
{% elsif page == 1 %}
<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
{% else %}
<a href="{{site.baseurl}}/page{{page}}/">{{ page }}</a>
{% endif %}
{% endfor %}



