---
layout: sub-page
title: Teletext
permalink: /teletext/
whichPage: teletext
discribtion: 桃之夭夭，灼灼其华。
bannerImg: /img/illustration/sunPeach.jpg
---

<ul class="teletext-content-list">
    {% for category in site.categories.[page.whichPage] %}
   <li  >
        <a class="row list-link" href="{{category.url | prepend: site.baseurl }}">
            <h1>{{category.title }}</h1>
        </a>
        <div class="date-and-tags">
            <span class="list-date">{{ category.date | date: "%Y年%-m月%-d日" }}</span>
            <span class="list-tags">
                <i class="icon iconfont icon-tag"></i>
                {% for tag in category.tags%}

                <a href="javascript:;">{{tag}}</a>
                {% endfor %}
            </span>
        </div>

        <div class="excerpt clearfix">
            {{ category.excerpt }}
        </div>
    </li>
    {% endfor %}
</ul>