---
layout: sub-page
title: Photo
permalink: /photo/
whichPage: photo
---

<div class="photo-content-list clearfix">
    <ul class=" clearfix">

        {% for category in site.categories.[page.whichPage] %}
        <li>
            <a href="{{category.url | prepend: site.baseurl }}">
                <div class="photo-list-wrap">
                    {{ category.excerpt | remove: '<p>' | remove: '</p>'}}
                </div>

                <h3 class="text-center">{{category.title }}</h3>

                <div class="tip-info clearfix">
                    <span class="list-place">{{category.place}}</span>
                    <span class="list-date">{{ category.date | date: "%Y-%m-%d" }}</span>
                </div>

            </a>
        </li>
        {% endfor %}
    </ul>
    <div style="clear:both;"></div>
</div>


<!--<ul>-->
<!--{% for member in site.data.members %}-->
<!--<li>-->
<!--<a href="https://github.com/{{ member.github }}">-->
<!--{{ member.nick}} ( {{member.name}} )-->
<!--</a>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->