<footer class="footer clearfix">
    <div class="container">
        <div class="footer-tel text-left">TEL:18203610462</div>
        <div class="footer-contact text-center">
            <a href="javascript:;"><i class="icon iconfont icon-github"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-qq"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-weixin"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-xinlang"></i></a>
        </div>
        <div class="footer-copyright text-right">Copyright 2016 ALL Right Reseved</div>
    </div>
</footer>
