<footer class="footer clearfix">
    <div class="container">
        <div class="footer-tel">TEL:18203610462</div>

        <div class="footer-copyright">Copyright 2016 ALL Right Reseved</div>

        <div class="footer-contact">
            <a href="javascript:;"><i class="icon iconfont icon-github"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-qq"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-weixin"></i></a>
            <a href="javascript:;"><i class="icon iconfont icon-xinlang"></i></a>
        </div>


    </div>
</footer>
