<header class="nav-bar">
  <div class="container clearfix">
    <a class="nav-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <ul class="nav-menu">
      <!--{% for page in site.pages %}-->
      <!--{% if page.title %}-->
      <!--<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>-->
      <!--{% endif %}-->
      <!--{% endfor %}-->
      <li class="active"><a href="javascript:;">Home</a></li>
      <li><a href="javascript:;">HTML</a></li>
      <li><a href="javascript:;">CSS</a></li>
      <li><a href="javascript:;">JS</a></li>
      <li><a href="javascript:;">Photo</a></li>
      <li><a href="javascript:;">Teletext</a></li>
    </ul>

  </div>
</header>
