html {
  font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%*/
}

body {
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", "宋体", Tahoma, Arial, Helvetica, STHeiti;
}

p {

}

.container {
  position: relative;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

//清楚浮动样式
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

/*这是针对于IE6的，因为IE6不支持:after伪类，
这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
.clearfix {
  *zoom: 1;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//ziti
@font-face {
  font-family: "iconfont";
  src: url('../assets/fonts/iconfont.eot'); /* IE9*/
  src: url('../assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../assets/fonts/iconfont.woff') format('woff'), /* chrome, firefox */ url('../assets/fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../assets/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-tag:before {
  content: "\e604";
}

.icon-xinlang:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e603";
}

//导航栏样式
.nav-bar {
  position: relative;
  background-color: $base-silver;
  .nav-brand {
    float: left;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
    color: $base-blue;
  }
  .nav-menu {
    float: right;
    li {
      float: left;
      a {
        line-height: 3rem;
        height: 4rem;
        padding: .5rem 1rem;
        color: $base-blue;
      }
      a:hover {
        color: $base-red;
        //border-bottom: 3px solid red;
      }
    }
    .active {
      a {
        color: $base-red;
        border-bottom: 3px solid $base-red;
      }
    }
  }
}

//footer
.footer {
  background-color: $base-blue-dark;
  vertical-align: middle;
  color: #fff;
  .footer-contact {
    a {
      padding: 0 .4rem;
    }
  }
  .footer-tel, .footer-contact, .footer-copyright {
    float: left;
    width: 33%;
    line-height: 4rem;
  }
}

//子页面容器样式
.page-body {
  padding-top: 3rem;
  background-color: $base-blue;
}

.page-wrapper {
  border-radius: 1.3rem;
  overflow: hidden;
}

.page-banner {
  height: 24rem;
  line-height: 24rem;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 .4rem $base-blue-dark;
  background-color: #37ACCB;
}

//文章内容样式
.page-content {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: $base-silver;
  p {
    position: relative;
    margin-bottom: 2rem;
    text-align: justify;
    //    text-indent: 3rem;
    a {
      color: $base-blue;
    }
    a:hover {
      text-decoration: underline;
    }
    img {
      display: block;
      margin: 1rem auto;

      min-height: 10rem;
      width: 35rem;
      border-radius: .5rem;
      border: 1px solid $base-border;
      transition: all .5s ease;
    }
    img:hover {
      width: 100%;
    }
  }
  .main-title {
    color: $base-black-dark;
  }
  .date {
    display: block;
    text-indent: 0;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  //  //文章内容列表样式
  //  .content-list {
  //    li {
  //      padding-left: 1rem;
  //      border-left: 3px solid red;
  //      margin-bottom: 1rem;
  //      a {
  //        display: block;
  //      }
  //      h1 {
  //        display: inline-block;
  //        font-size: 2rem;
  //      }
  //      span.page-date {
  //        font-size: 1.4rem;
  //
  //      }
  //    }
  //
  //  }
}

//列表简介样式
.excerpt {
  color: $base-black-dark;
  font-size: 1.4rem;
  p {
    text-indent: 0;
    margin-bottom: 1rem;

    img {
      width: 14rem;
      height:inherit;
      min-height: 8rem;
      max-height: 14rem;
      float: left;
      margin: 0 1rem 1rem 0;
    }
    img:hover {
      width: 20rem;
    }
  }
}




