html {
  font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%*/
}

body {
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", "宋体", Tahoma, Arial, Helvetica, STHeiti;
}

p {

}

.container {
  position: relative;
  max-width: $base-container-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

//清楚浮动样式
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

/*这是针对于IE6的，因为IE6不支持:after伪类，
这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
.clearfix {
  *zoom: 1;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//ziti
@font-face {
  font-family: "iconfont";
  src: url('../assets/fonts/iconfont.eot'); /* IE9*/
  src: url('../assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../assets/fonts/iconfont.woff') format('woff'), /* chrome, firefox */ url('../assets/fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../assets/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-tag:before {
  content: "\e604";
}

.icon-xinlang:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e603";
}

//导航栏样式
.nav-bar {
  position: relative;
  background-color: $base-silver;
  .nav-brand {
    float: left;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
    color: $base-blue;
  }
  .nav-menu {
    float: right;
    li {
      float: left;
      a {
        line-height: 3rem;
        height: 4rem;
        padding: .5rem 1rem;
        color: $base-blue;
      }
      a:hover {
        color: $base-red;
        //border-bottom: 3px solid red;
      }
    }
    .active {
      a {
        color: $base-red;
        border-bottom: 3px solid $base-red;
      }
    }
  }
  .menu-icon {
    display: none;
  }

  @include media-query(600px) {
    .menu-icon {
      display: block;
      float: right;
      padding: 1.1rem 0 1.1rem .6rem;
      svg {
        width: 2rem;
        height: 1.5rem;
      }
    }
    .menu-icon:hover + .nav-menu {
      height: 21rem;
    }

    .nav-brand {
      float: none;
    }
    .nav-menu {
      overflow: hidden;
      height: 0;
      margin-right: -15px;
      margin-left: -15px;

      clear: both; //清除menu-icon浮动的影响

      float: none;

      transition: height .3s ease;
      li {
        float: none;
        text-align: center;
        a {
          line-height: 2.5rem;
          height: 3.5rem;
        }
      }
    }
    .nav-menu:hover {
      height: 21rem; //此处设置也需设置高度，不然鼠标无法悬停在菜单上
    }
  }

}

//footer
.footer {
  background-color: $base-blue-dark;
  vertical-align: middle;
  color: #fff;
  .footer-contact {
    a {
      padding: 0 .4rem;
    }
  }
  .footer-tel, .footer-contact, .footer-copyright {

    width: 33%;
    line-height: 4rem;
  }

  .footer-tel {
    float: left;
    text-align: left;
  }
  .footer-contact {
    width: 100%;
    text-align: center;
  }
  .footer-copyright {
    float: right;
    text-align: right;
  }

  @include media-query($base-phone-width) {
    .footer-tel {
      width: 50%;
      text-align: left;
    }
    .footer-contact {
      float: right;
      width: 50%;
      text-align: right;
    }
    .footer-copyright {
      display: none;
    }
  }
}

//子页面容器样式
.page-body {
  padding-top: 3rem;
  background-color: $base-blue;

  @include media-query($base-container-width) {
    padding-top: 0;
  }
}

.page-wrapper {
  border-radius: 1.3rem;
  overflow: hidden;

  @include media-query($base-container-width) {
    border-radius: 0;
  }
}

.page-banner {
  display: table;
  width: 100%;
  height: 24rem;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 .4rem $base-blue-dark;
  background-color: #37ACCB;
  .banner-title {
    vertical-align: middle;
    display: table-cell;
  }
}
//文章内容样式
.page-content {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: $base-silver;

  p {
    position: relative;
    margin-bottom: 1.4rem;
    //    text-indent: 3rem;
    a {
      color: $base-blue;
    }
    a:hover {
      text-decoration: underline;
    }
    img {
      display: block;
      margin: 1rem auto;

      min-height: 10rem;
      width: 35rem;
      border-radius: .5rem;
      border: 1px solid $base-border;
      transition: all .5s ease;
      @include media-query($base-phone-width) {
        width:22rem;
      }
    }
    img:hover {
      width: 100%;
    }
  }
  .main-title {
    color: $base-black-dark;
  }
  .date {
    display: block;
    text-indent: 0;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  //表格样式
  .table{
    margin: 0 auto 2rem;
    border-collapse: collapse;
    border: solid $base-border;
    border-width:1px 0px 0px 1px;
    th {
      padding: 1rem;
      color: #fff;
      font-size: 1.6rem;
      background-color: $base-blue;
      + th {
        border-left: 1px solid $base-border;
      }
    }
    td{
      padding:1rem;
      border:solid $base-border;
      border-width:0px 1px 1px 0px;
      color: $base-black-dark;

    }
  }
  //列表样式　
  ul, ol{
    color: $base-black-dark;
    li {
      margin: 1rem 15px;
      font-size: 1.6rem;
    }
  }
  ul li {
    list-style: circle;
  }
  ol li {
    list-style: decimal;
  }
  .css-content-list,
  .html-content-list,
  .js-content-list,
  .teletext-content-list {
    li {
      list-style: none;
      margin: 0 0 1rem 0;
    }
  }
  .photo-content-list {
    li {
      list-style: none;
      margin: 0;
    }
  }

}

//列表简介样式
.excerpt {
  color: $base-black-dark;
  font-size: 1.4rem;
  p {
    text-indent: 0;
    margin-bottom: 1rem;

    img {
      width: 14rem;
      height: inherit;
      min-height: 8rem;
      max-height: 14rem;
      float: left;
      margin: 0 1rem 1rem 0;
    }
    img:hover {
      width: 14rem;
    }
  }
}




