html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}

body {
  font:{
    family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
  }

}
.container {
  position: relative;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

//清楚浮动样式
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

/*这是针对于IE6的，因为IE6不支持:after伪类，
这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
.clearfix {
  *zoom: 1;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//导航栏样式
.nav-bar {
  position: relative;
  .nav-brand {
    float: left;
    height:3.5rem;
    line-height: 3.5rem;
  }
  .nav-menu {
    float: right;
    li {
      float: left;
      a {
        line-height: 2.5rem;
        height: 3.5rem;
        padding: .5rem 1rem;
      }
      a:hover {

        color: red;
        //border-bottom: 3px solid red;
      }
    }
    .active {
      a {
        color: red;
        border-bottom: 3px solid red;
      }
    }
  }
}