//css首页列表样式
.css-content-list,
.html-content-list,
.js-content-list,
.teletext-content-list,
.tools-content-list{
  li {
    border-bottom: 1px solid $base-border;
    margin-bottom: 1rem;
  }
  li:last-child {
    border: 0;
    margin-bottom: 0;
  }
  .list-link {
    display: block;
    padding-left: .5rem;
    border-left: .4rem solid $base-cyan;
    color: $base-cyan;
    h1 {
      font-size: 2.4rem;
    }
  }
  .list-link:hover {
    text-decoration: underline;
  }
  .date-and-tags {
    margin-bottom: 1rem;
    padding-bottom: .6rem;
    border-bottom: 1px dashed $base-border;
    .list-date {
      color: $base-black-light;
      font-size: 1.6rem;
    }
    .list-tags {
      float: right;
      color: $base-black-light;
      a:hover {
        color: $base-black;
      }
    }
    a {
      display: inline-block;
      padding: .2rem .2rem;
      margin-left: .4rem;
      border:0;
    }
    a:hover {
      text-decoration:underline;
    }
  }
}