$base-silver: #f1f1f1;
$base-silver-dark: #e8e8e8;
$base-blue: #4e7fa7;
$base-blue-md: #5480a4;
$base-blue-dark: #031d2a;
$base-cyan:#37ACCB;
$base-red: #fe4300;
$base-black-light: #888;
$base-black: #525252;
$base-black-md: #444;
$base-black-dark: #333;
$base-border: #dedede;

$base-margin-xs: 1.5rem;
$base-margin-ms: 2.5rem;
$base-margin-md: 3rem;
$base-margin-lg: 4rem;

$base-h1: 2.8rem;

$base-container-width: 980px;
$base-phone-width: 600px;