$base-silver: #f1f1f1;
$base-silver-dark: #e8e8e8;
$base-blue: #4e7fa7;
$base-blue-md: #5480a4;
$base-blue-dark: #031d2a;
$base-red: #fe4300;
$base-black: #525252;
$base-black-dark: #333;

$base-margin-xs: 1.5rem;
$base-margin-ms: 2.5rem;
$base-margin-md: 3rem;
$base-margin-lg: 4rem;