---
layout: sub-page
title: HTML
permalink: /html/
whichPage: html
bannerImg: /assets/image/banner_html.jpg
---
<ul class="content-list">
    {% for category in site.categories.[page.whichPage] %}
    <li>
        <a href="{{category.url | prepend: site.baseurl }}">
            <h1 class="main-title">{{category.title }}</h1>
            <span class="page-date">{{ category.date | date: "%Y年%-m月%-d日" }}</span>
        </a>

        <div class="clearfix excerpt">
            {{ category.excerpt | remove: '<p>' | remove: '</p>'}}
        </div>
    </li>
    {% endfor %}
</ul>


<!--<div class="section section7">-->
<!--<div class="container">-->
<!--<img src="{{ site.baseurl}}/assets/image/gulp.png" alt="gulp"/>-->
<!--<ul class="post-list">-->
<!--{% for post in site.posts %}-->
<!--<li>-->
<!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

<!--<h2>-->
<!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }}</a>-->

<!--</h2>-->
<!--</li>-->

<!--{% endfor %}-->
<!--</ul>-->

<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
<!--</div>-->
<!--</div>-->

