<!DOCTYPE html>
<html>

{% include head.html %}

<body class="page-body">

<div class="container">
    <div class="row page-wrapper">
        {% include header.html %}

        <div class="page-banner text-center" style="background: #93C2E9 url('{{ site.cloudSrc}}{{page.bannerImg}}') center center no-repeat;background-size: cover">
            <div class="banner-title">
                {% if page.bannerImg %}
                    <!--让其为空-->
                {% else %}
                    <h1>{{page.title}}</h1>
                    <span>{{ page.date | date: "%Y年 %-m月 %-d日" }}</span>
                {% endif %}
            </div>
        </div>

        <div class="page-content container">

            {% if page.bannerImg %}
                <h1 class='text-center main-title'>{{ page.title}}</h1>
                <span class="text-center date">{{ page.date | date: "%Y年 %-m月 %-d日" }}</span>

            {% else %}
                <!--让其为空-->
            {% endif %}


            {{ content }}

            <!--添加评论功能-->

            <div id="disqus_thread"></div>
            <script>
                /**
                 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                /*
                 var disqus_config = function () {
                 this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                 this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                 };
                 */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//zhangjinpei.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            <script id="dsq-count-scr" src="//zhangjinpei.disqus.com/count.js" async></script>


        </div>

        {% include footer.html %}
    </div>
</div>

<script src="{{ site.baseurl}}/assets/script/jquery.min.js"></script>
<script src="{{ site.baseurl}}/assets/script/common.js"></script>

</body>

</html>