<!DOCTYPE html>
<html>

{% include head.html %}

<body class="page-body">

<div class="container">
    <div class="row page-wrapper">
        {% include header.html %}

        <div class="page-banner text-center" style="background: #37ACCB url('{{ site.baseurl}}{{page.bannerImg}}') center center no-repeat;background-size: cover">{{page.title}}</div>
        <div class="page-content container">

            {{content}}
        </div>

        {% include footer.html %}
    </div>
</div>


</body>

</html>