<!DOCTYPE html>
<html>

{% include head.html %}

<body class="page-body">

<div class="container">
    <div class="row page-wrapper">
        {% include header.html %}

        <div class="page-banner text-center" style="background: #37ACCB url('{{ site.baseurl}}{{page.bannerImg}}') center center no-repeat;background-size: cover">
            <div class="banner-title">
                {{page.title}}
            </div>

        </div>
        <div class="page-content container">

            {{content}}
        </div>

        {% include footer.html %}
    </div>
</div>

<script src="{{ site.baseurl}}/assets/script/jquery.min.js"></script>
<script src="{{ site.baseurl}}/assets/script/common.js"></script>

</body>

</html>